{% extends 'base.html' %}

{% block styles %}
<style>
    .container {
        max-width: 960px;
    }
</style>
{% endblock %}

{% block content %}
<div class="col-md-7 col-lg-8">
    <h4 class="mb-3">{{ member.institution }}</h4>
    <form class="needs-validation" novalidate>
      <div class="row g-3">
        <div class="col-sm-12">
          <label for="memberName" class="form-label">Member name</label>
          <input type="text" class="form-control" id="memberName" placeholder="" value="{{ member.institution}}" required>
          <div class="invalid-feedback">
            Valid name is required.
          </div>
        </div>

        <div class="col-sm-12">
          <label for="memberId" class="form-label">ID</label>
          <input type="text" class="form-control" id="memberId" placeholder="" value="{{ member.id }}" readonly disabled>
        </div>

        <div class="col-12">
          <label for="url" class="form-label">OAI URL</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="url" placeholder="OAI URL" value="{{member.url}}" required>
          <div class="invalid-feedback">
              Valid OAI URL required.
            </div>
          </div>
        </div>
        <div class="col-12">
          <label for="metadataPrefix" class="form-label">Metadata Prefix</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="metadataPrefix" placeholder="Metadata Prefix" value="{{member.metadata_prefix}}" required>
          <div class="invalid-feedback">
              Valid metadata prefix required.
            </div>
          </div>
        </div>
        <div class="col-12">
          <label for="idPrefix" class="form-label">DPLA ID Prefix</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="idPrefix" placeholder="DPLA Prefix ID" value="{{member['@id_prefix']}}" readonly disabled>
          <div class="invalid-feedback">
              Valid OAI URL required.
            </div>
          </div>
        </div>
        <div class="col-12">
          <label for="include" class="form-label">Include</label>
          <div class="input-group has-validation">
            <textarea class="form-control" id="include" placeholder="Collections to include" rows="4">{{'\n'.join(member.include) if member.include}}</textarea>
          </div>
        </div>
        <div class="col-12">
          <label for="exclude" class="form-label">Exclude</label>
          <div class="input-group has-validation">
            <textarea class="form-control" id="exclude" placeholder="Collections to exclude" rows="4">{{'\n'.join(member.exclude) if member.exclude}}</textarea>
          </div>
        </div>
      </div>

      <hr class="my-4">

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="same-address">
        <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="save-info">
        <label class="form-check-label" for="save-info">Save this information for next time</label>
      </div>

      <hr class="my-4">

      <h4 class="mb-3">Payment</h4>

      <div class="my-3">
        <div class="form-check">
          <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
          <label class="form-check-label" for="credit">Credit card</label>
        </div>
        <div class="form-check">
          <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
          <label class="form-check-label" for="debit">Debit card</label>
        </div>
        <div class="form-check">
          <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
          <label class="form-check-label" for="paypal">PayPal</label>
        </div>
      </div>

      <div class="row gy-3">
        <div class="col-md-6">
          <label for="cc-name" class="form-label">Name on card</label>
          <input type="text" class="form-control" id="cc-name" placeholder="" required>
          <small class="text-muted">Full name as displayed on card</small>
          <div class="invalid-feedback">
            Name on card is required
          </div>
        </div>

        <div class="col-md-6">
          <label for="cc-number" class="form-label">Credit card number</label>
          <input type="text" class="form-control" id="cc-number" placeholder="" required>
          <div class="invalid-feedback">
            Credit card number is required
          </div>
        </div>

        <div class="col-md-3">
          <label for="cc-expiration" class="form-label">Expiration</label>
          <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
          <div class="invalid-feedback">
            Expiration date required
          </div>
        </div>

        <div class="col-md-3">
          <label for="cc-cvv" class="form-label">CVV</label>
          <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
          <div class="invalid-feedback">
            Security code required
          </div>
        </div>
      </div>

      <hr class="my-4">

      <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
    </form>
    </div>
{% endblock %}